// Import
@import "core/normalize";
@import "core/sicss";
@import "core/helper";
@import "core/mixin";
@import "core/object";
// @import "plugins/syntax-github";
@import "plugins/syntax-solarized";
// @import "plugins/syntax-solarized-dark";

// Variables
$black: #333;

html {
	background-image: url(../images/debut_dark.png);
}

body {
	border-top: 6px solid $black;
	-webkit-box-shadow: inset 0 1px #FFF;
	box-shadow: inset 0 1px #FFF;
	background-image: url(../images/bg.png);
	color: #666666;
	&:before {
		display: block;
		content: "";
		position: absolute;
		top: -30px;
		z-index: 10;
		width: 100%;
		height: 30px;
		border-radius: 100%;
		-webkit-box-shadow: 0 0 120px rgba(0,20,30,0.8);
		box-shadow: 0 0 120px rgba(0,20,30,0.8);
	}
	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		z-index: 100;
		width: 100%;
		height: 6px;
		background-image: url(../images/debut_dark.png);
		-webkit-box-shadow: 0 1px #FFF;
		box-shadow: 0 1px #FFF;
	}
}

a {
	color: #CC3300;
	text-decoration: none;
	&:visited {
		text-decoration: none;
	}
}

/* 
# Inkdesign Style Guide
*/

/*
## Header
*/

.the-header {
	margin-top: $height;
}

.the-logo {
	position: relative;
	top: -6px;
	width: 40px;
	height: 48px;
	vertical-align: middle;
}

.the-nav {
	ul {
		height: $height * 3;
	}
	li {
		display: inline-block;
		// margin-left: 2.4rem;
		margin-left: 2rem;
	}
	a {
		color: $black;
	}
}

.the-nav-item {
	line-height: $height * 3;
}

.the-logo {
	margin-right: 2rem;
}

.brand {
	a {
		color: #333;
	}
}
/*
## Post
*/

.entry-header {
  
}

.entry-title {
	a {
		color: inherit;
	}
}

.entry-date {
	text-align: left;
}

.entry-body {
	> * {
		@extend .sc;
	}
	h2,p {
		margin-bottom: $height;
	}
}

.toc {
	ul {
		border: 1px solid #EEE;
		padding: 0.5rem 1rem;
		background-color: #FFF;
	}
}

.btn-share {
	vertical-align: middle;
}

.entry-notes {
	margin-left: auto;
	margin-right: auto;
	width: 628px;
	.entry-header {
		margin-bottom: 0;
	}
	.entry-title {
		line-height: $height;
		font-size: $height / 1.25;
	}
	.sc {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}

.the-footer {
	padding-top: 2.25rem;
	background-image: url(../images/debut_dark.png);
	color: #F6F6F6;
}

.author {
	.img {
		height: $height * 3;
	}
	.pic {
		margin-top: 8px;
		width: 96px;
		height: 96px;
		border-radius: 96px;
		box-shadow: 0 0 0 3px #F6F6F6;
	}
}

.publication {
	img {
		width: 96px;
		height: 120px;
	}
}

.elsewhere {}

.ico {
	display: inline-block;
	@extend .ir;
}

.ico-36 {
	width: 36px;
	height: 36px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}

.ico-twitter {
	background: url(../images/ico-twitter.png);
}
.ico-github {
	background: url(../images/ico-github.png);
}

// .entry-notes {
// 	.entry-title {
// 		@extend .sc;
// 		@extend .sc-4;
// 		@extend .sc-1-off;
// 		line-height: $height;
// 		font-size: $height / 1.25;
// 	}
// 	.entry-date {
// 		@extend .sc;
// 		@extend .sc-4;
// 		@extend .sc-1-off;
// 	}
// }

// .footnotes {
// 	border: 1px solid #CCC;
// }
