// Import
@import "core/normalize";
@import "core/sicss";
@import "core/helper";
@import "core/mixin";

// Variables
$black: #333;

html {
	border-top: 6px solid $black;
	background-image: url(../images/bg.png);
	// @include retina {
	// 	background-image: url(../images/bg@2x.png);
	// }
}

body {
	color: #666666;
}

a {
	color: #CC3300;
}

/* 
# Inkdesign Style Guide
*/

/*
## ロゴ
*/

.brand {
	text-align: center;
	a {
		text-decoration: none;
		&:visited {
			text-decoration: none;
		}
	}
}

.sitename {
	color: $black;
}

.logo {
	position: relative;
	display: block;
	top: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	height: $height * 2;
	background: url(../images/logo@2x.png) no-repeat;
	@include background-size(40px auto);
	// &:before{
	// 	position: absolute;
	// 	top: -15px;
	// 	display: block;
	// 	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAPCAYAAABJGff8AAAAuUlEQVR42tXWbQ2AIBAGYCtcBStYwQpWIAudrEAFK1gBeSfu5Zf4dQhst7npcTzjVDrvfTaGfcwh/E+B2kNunZcwcQA1hVgKIhbU5Fq+w6QoWwBij3p6GIIwnALCYWLU0MYo7xJ3ozyGIBNifYFArsFcP2PYdg9BK9uqBgxBcvM9cshBbkmMAoiQOjEE9ZmWw72eGbViCBpPMCOeaQNDkM18fpvCSHr8idfSHoYgQwz/Ja1iJMGIJmYDebKnGj4JF7kAAAAASUVORK5CYII=");
	// 	width: 51px;
	// 	height: 15px;
	// }
}

/*
## ヘッダー
*/

.the-header {
	margin-top: $height;
	margin-bottom: $height;
  height: $height * 3;
}

/*
## Post
*/

.entry-header {
  a {
  	color: inherit;
  	text-decoration: none;
  	&:visted {
  		text-decoration: none;
  	}
  }
}

.entry-title {
	color: #333333;
}

.entry-body {
	p {
		margin-bottom: $height;
	}
}

// .footnotes {
// 	border: 1px solid #CCC;
// }

// html {
//   background: url(http://griddle.it/948-6-6) repeat-y center top;
// }
// body {
//   background: url(http://basehold.it/i/36);
// }