/*
## Clearfix

Nicolas Gallagher氏のMicro Clearfixを採用する。

@refs http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
*/
.clr,
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

/*
## Text overflow

親要素の幅を文字列の長さが超過する場合、3点リーダー（`ellipsis`）で末尾を処理する。
適用されるのは、折り返しのない1行の文字列の場合のみ。
また対象の要素は`inline-block`または`block`である必要がある。

*/

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*
## CSS Image Replacement

CSSによる画像置換。
@refs https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757

__TODO__

- Androidの場合、a要素への適用だとテキストが表示される場合があるため、変更を検討

*/
.ir,
.imagereplacement {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* 
## Misc
*/

.right { float: right;}
.left { float: left;}

.inline-center { text-align: center;}
.inline-left { text-align: left;}
.inline-right { text-align: right;}

.pts {padding-top: 5px;}
.ptm {padding-top: 15px;}
.ptl {padding-top: 25px;}
.pbs {padding-bottom: 5px;}
.pbm {padding-bottom: 15px;}
.pbl {padding-bottom: 25px;}
.mts {margin-top: 5px;}
.mtm {margin-top: 15px;}
.mtl {margin-top: 25px;}
.mbs {margin-bottom: 5px;}
.mbm {margin-bottom: 15px;}
.mbl {margin-bottom: 25px;}
