/* SICSS Layout */

// http://modularscale.com/
// 5:8 minor sixth
// Pixels  Ems   Ems @ 16  % of 13
// 57.600  3.2   3.6       443.077
// 46.080  2.56  2.88      354.462
// 36.000  2     2.25      276.923
// 28.800  1.6   1.8       221.538
// 22.500  1.25  1.406     173.077
// 18.000  1     1.125     138.462
// 14.063  0.781 0.879     108.177
// 11.250  0.625 0.703     86.538

// Variables
$width: 144px;
$height: 2.25rem;
$gutter: 12px;

// Mixins
@mixin h($count:1) {
  height: $height * $count;
}

// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

// Grid
.sc-wrapper {
  margin: 0 auto;
  width: 960px;
  font-size: 1.125rem;
  line-height: 2.25rem;  
}

.sc-row {
  // overflow: hidden;
  margin-bottom: 2.25rem;
  @extend .cf;
}
.sc {
  float: left;
  margin-right: $gutter;
  margin-left: $gutter;
}
// .sc:first-child {
//   margin-top: 0;
// }
.sc-1 {
  width: $width;
}
.sc-1-off,
.sc-1-pull {
  margin-left: $width + $gutter * 2;
}
.sc-1-push {
  margin-right: $width + $gutter * 2;
}
.sc-2 {
  width: $width * 2 + $gutter;
}
.sc-2-off,
.sc-2-pull {
  margin-left: $width * 2 + $gutter * 2;
}
.sc-2-push {
  margin-right: $width * 2 + $gutter * 2;
}
.sc-3 {
  width: $width * 3 + $gutter * 2;
}
.sc-3-off,
.sc-3-pull {
  margin-left: $width * 3 + $gutter * 4;
}
.sc-3-push {
  margin-right: $width * 3 + $gutter * 4;
}
.sc-4 {
  width: $width * 4 + $gutter * 3;
}
.sc-4-off,
.sc-4-pull {
  margin-left: $width * 4 + $gutter * 5;
}
.sc-4-push {
  margin-right: $width * 4 + $gutter * 5;
}
.sc-5 {
  width: $width * 5 + $gutter * 4;
}
.sc-5-off,
.sc-5-pull {
  margin-left: $width * 5 + $gutter * 6;
}
.sc-5-push {
  margin-right: $width * 5 + $gutter * 6;
}
.sc-6 {
  width: $width * 6 + $gutter * 5;
}
.sc-6-off,
.sc-6-pull {
  margin-left: $width * 6 + $gutter * 7;
}

// Typography

.h0 {
  font-size: 2.88rem;
}
.h1 {
  // font-size: 2.25rem;
  line-height: $height * 2;
  color: #333333;
  font-size: 3.6rem;
}
.h2 {
  font-size: 1.406rem;
  color: #333333;
  font-weight: normal;
}
.h3 {
  font-size: 1.125rem;
}
.small {
  font-size: 0.879rem;
}
.left {
  float: left;
}
.right {
  float: right;
}


html {
  // background: url(http://griddle.it/926-12-12) repeat-y center top !important;
}
body {
  // background: url(http://basehold.it/i/36) !important;
}
.page {
  background: none !important;
}