/* SICSS Layout */

// http://modularscale.com/
// 5:8 minor sixth
// Pixels  Ems   Ems @ 16  % of 13
// 57.600  3.2   3.6       443.077
// 46.080  2.56  2.88      354.462
// 36.000  2     2.25      276.923
// 28.800  1.6   1.8       221.538
// 22.500  1.25  1.406     173.077
// 18.000  1     1.125     138.462
// 14.063  0.781 0.879     108.177
// 11.250  0.625 0.703     86.538

// Height
$width: 148px;
$height: 2.25rem;
@mixin h($count:1) {
  height: $height * $count;
}

// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

// Grid
.sc-wrapper {
  margin: 0 auto;
  width: 960px;
  font-size: 1.125rem;
  line-height: 2.25rem;  
}

.sc-row {
  // overflow: hidden;
  margin-bottom: 2.25rem;
  @extend .cf;
}
.sc {
  float: left;
  margin-right: 6px;
  margin-left: 6px;
}
.sc:first-child {
  margin-top: 0;
}
.sc-1 {
  width: 148px;
}
.sc-1-off {
  margin-left: 166px;
}
.sc-2 {
  width: 308px;
}
.sc-2-off {
  margin-left: 326px;
}
.sc-3 {
  width: 468px;
}
.sc-3-off {
  margin-left: 486px;
}
.sc-4 {
  width: 628px;
}
.sc-4-off {
  margin-left: 646px;
}
.sc-5 {
  width: 788px;
}
.sc-5-off {
  margin-left: 806px;
}
.sc-6 {
  width: 948px;
}
.sc-6-off {
  margin-left: 966px;
}

// Typography

.h0 {
  font-size: 2.88rem;
}
.h1 {
  // font-size: 2.25rem;
  line-height: $height * 2;
  color: #333333;
  font-size: 3.6rem;
}
.h2 {
  font-size: 1.406rem;
  color: #333333;
  font-weight: normal;
}
.h3 {
  font-size: 1.125rem;
}
.small {
  font-size: 0.879rem;
}
.left {
  float: left;
}
.right {
  float: right;
}