<div class="the-footer">
	<div class="sc-wrapper">
	  <div class="sc-row">
	  	<div class="sc sc-6 author">
	  		<h2 class="footer-heading h3">Author</h2>
	  		<div class="media">
	  			<div class="img">
	  				<img src="/images/me-mono.jpg" class="pic">
	  			</div>
	  			<div class="bd">
	  				<div>
		  				<p class="small"><strong>谷拓樹（たにひろき）</strong>、Webデベロッパー。<br/>中小企業向けのアプリケーション開発、スタートアップでのスマートフォンサイト制作などを経て、現在はスマートフォンアプリの開発、テクニカルディレクションを担当している。</p>
		  				<ul class="l-inline">
		  				  <li><a href="https://twitter.com/hiloki" target="_blank" class="ico ico-36 ico-twitter">twitter</a></li>
		  				  <li><a href="https://github.com/hiloki/" target="_blank" class="ico ico-36 ico-github">github</a></li>
		  				</ul>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  </div>
	  <!-- <div class="sc-row">
	  	<div class="sc sc-2 publication">
	  		<h2 class="footer-heading h3">Publication</h2>
	  		<ul class="l-inline">
	  			<li><a href="http://www.amazon.co.jp/dp/4899772750/" target="_blank"><img src="/images/book-html5.jpg" alt="HTML5＋CSS3で作る 魅せるiPhoneサイト"></a></li>
	  			<li><a href="http://www.amazon.co.jp/dp/4844362232/" target="_blank"><img src="/images/book-textbook.jpg" alt="iPhone & Android スマートフォンサイト制作の教科書"></a></li>
	  			<li><a href="http://www.amazon.co.jp/dp/4844362844/" target="_blank"><img src="/images/book-rules.jpg" alt="すべての人に知っておいてほしい スマートフォンサイトデザインの基本原則"></a></li>
	  		</ul>
	  	</div>
	  </div> -->
  </div>
</div>