{{ partial "head.html" . }}
<body>

<header id="header">
  <h1 class="slogan" id="slogan">
    <span id="iam">I<span class="breath"> </span>th</span><a href="http://inkdesign.jp">ink<span class="breath"> </span>design</a><span class="breath"> </span><span id="everywhere">everywhere</span>.
  </h1>
</header>

<main id="main">
<article class="entry">
<header class="entry-header">
<h1 class="entry-title">{{ .Title }}</h1>
<p class="entry-pubdate">{{ .Date.Format "Jan 1, 2006" }}</p>
</header>
<div class="entry-body">
{{ .Content }}
</div>
</article>
</main>

<div id="author" class="author">
<img src="/images/hirokitani.jpg" width="32" height="32" class="avatar">
<p class="name">Hiroki Tani</p>
<p class="title">Front-end Engineer, Writer &amp; Speaker</p>
</div>

<p class="tempnote">
  本ブログの過去記事は、近日整理して再公開します。
</p>

<footer id="footer">
<ul class="footlinks">
  <!-- <li><a rel="alternate" type="application/rss+xml" href="/feed.xml">Subscribe</a></li> -->
  <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/2.1/jp/">BY-NC-SA</a></li>
</ul>
</footer>
</body>
</html>
