/* 
# 元の色

- `@colorA`
- `@colorB`

それぞれに値を入れておく。
```
<div class="palette colorA">#FF0000</div>
<div class="palette colorB">#0000FF</div>
```
*/
.colorA {
  background-color: #ff0000;
}
.colorB {
  background-color: #0000ff;
}
.palette {
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: #AAA;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: Helvetica,Arial;
}
/* 
# multiply

乗算

```
<div class="palette multiply">Multiply</div>
```
*/
.multiply {
  background-color: #000000;
}
/* 
# screen

スクリーン

```
<div class="palette screen">Screen</div>
```
*/
.screen {
  background-color: #ff00ff;
}
/* 
# overlay

オーバーレイ

```
<div class="palette overlay">Overlay</div>
```
*/
.overlay {
  background-color: #ff0000;
}
/* 
# hardlight

ハードライト

```
<div class="palette hardlight">Hardlight</div>
```
*/
.hardlight {
  background-color: #0000ff;
}
/* 
# difference

差の絶対値

```
<div class="palette difference">Difference</div>
```
*/
.difference {
  background-color: #ff00ff;
}
/* 
# average

平均

```
<div class="palette average">Average</div>
```
*/
.average {
  background-color: #800080;
}
