{% include header.html %}
<body>
<div class="page {% if page.categories %}page-{{page.categories}}{% endif %}">
<div class="the-header sc-wrapper">
	<div class="sc-row">
		<div class="sc sc-6 1sc-1-off">
			<div class="brand left">
				<div class="the-nav-item">
					<a href="/">
						<img src="/images/logo@2x.png" alt="{{ site.title }}" class="the-logo" />inkdesign</a>
				</div>
			</div>
			<div class="the-nav right">
				<ul>
					<li class="the-nav-item"><a href="{{ site.url }}" class="the-nav-item">Home</a></li>
					<!-- <li class="the-nav-item"><a href="/articles.html" class="the-nav-item">Articles</a></li> -->
					<li class="the-nav-item"><a href="/notes.html" class="the-nav-item"> Notes</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="the-content sc-wrapper">
{{ content }}
</div>
{% include footer.html %}
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=418840108138616";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
